*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: "Poppins", sans-serif;
}
body{
    background-Color:'#f6f8fc';
    color: #f6f8fc;
    overflow: hidden;
    
}